<div class="add-point">
    <form #addPointForm="ngForm">
        <label>X
            <input type="text"
                   [(ngModel)]="x"
                   #field="ngModel"
                   name="x"
                   required
                   number
                   [min]="-5000"
                   [max]="5000">
        </label>
        <label>Y
            <input type="text"
                   [(ngModel)]="y"
                   name="y"
                   required
                   number
                   [min]="-5000"
                   [max]="5000">
        </label>
        <button (click)="addPoint($event)">Add</button>
    </form>
    <div *ngIf="!addPointForm.form.valid && addPointForm.form.dirty" class="error">
        X and Y need to be between -5000 and 5000
    </div>
    <div *ngIf="response?.error" class="error">
        {{response.message}} of [{{response.point.x}}, {{response.point.y}}]
    </div>
</div>