<div class="list-menu">
    <div class="box-sm">
        <p>Save selected points to list</p>
        <input type="text"
               #listName/>
        <button (click)="saveList(listName.value)">Save list</button>
    </div>
    <div class="box-sm">
        <p>Load list points to table</p>
        <select [(ngModel)]="selectedListName">
            <option
                    *ngFor="let pointsList of keys(savedListsOfPoints)"
                    [value]="pointsList">{{pointsList}}
            </option>
        </select>
        <button (click)="loadList($event)">Load list</button>
        <button (click)="deleteList($event)">Delete list</button>
    </div>
</div>