<h2>Points table</h2>
<div class="points-table">
    <div class="action-menu">
        <button (click)="delete($event)">Delete</button>
    </div>
    <ngx-datatable
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [selectionType]="'checkbox'"
            [selected]="[]"
            [rows]="points$ | async"
            [columnMode]="'force'"
            (select)="onSelect($event)"
            [limit]="5">
    <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true">
    </ngx-datatable-column>
    <ngx-datatable-column name="X"></ngx-datatable-column>
    <ngx-datatable-column name="Y"></ngx-datatable-column>
    >
    </ngx-datatable>
</div>